<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/accueil.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="logo">
            <h1 id="titre">Commerce</h1>
        </div>
        <nav>
            <a href="">Accueil</a>
            <a href="">Articles</a>
            <a href="">A propos</a>
            <a href="">Contact</a>
        </nav>
        <div class="action">
            <a href="../Crud/reservation.html">Reserver</a>
        </div>
    </header>
    <main id="main">
        <section class="section1">
            <div class="content-titre">
                <div class="infos">
                    <h2>Faites vos achats <span id="autrement">autrements</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi et incidunt maiores explicabo non ex dolores temporibus quibusdam eaque a, mollitia rem, saepe.</p>
                </div>
                <button class="btn-cta">Reserver maintenat</button>
            </div>
            <div class="image">
                <img src="../../assets/images/image2.jpeg" alt="">
            </div>
        </section>
        <section class="section2">
            <h2>Nos services</h2>
            <div id="container">
                <div class="card">
                    <div id="image">
                        <img src="../../assets/images/cpu.jpg" alt="">
                    </div>
                    <div id="infos">
                        <h4 id="nom">Kiraro</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum in eveniet</p>
                        <p id="prix">15000 Ar</p>
                    </div>
                    <div id="action">
                        <button>Ajouter au panier</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section3">
            <h2>contact</h2>
        </section>
    </main>
    <footer id="footer">
        <h2>footer</h2>
    </footer>
</body>
</html>