<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/formReserve/reservation.css">
    <title>Document</title>
</head>
<body>
    <main id="reservation">
        <form action="">
            <div id="content-form">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" placeholder="Entrez votre nom">
                </div>
                <div class="form-group">
                    <label for="">Adresse</label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label for="">Contact</label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email">
                </div>
                <!-- <div class="form-group">
                    <label for="">Email</label>
                    <textarea name="" id=""></textarea>
                </div>
                <div class="form-group">
                    <label for="">Selecte</label>
                    <select name="" id="">
                        <option value="Akondro">Akondro</option>
                        <option value="Vary">Vary</option>
                        <option value="Akondro">Akondro</option>
                        <option value="Akondro">Akondro</option>
                    </select>
                </div> -->
            </div>
             <button>Reserver</button>
        </form>
    </main>
</body>
</html>