<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/admin/product/product.css">
    <title>Document</title>
</head>
<body>
    <main id="main-content">
        <div class="content-nav">
            <div class="content-logo">
                <div id="image">
                    <img src="" alt="">
                </div>
                <h1>ShopMada</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">profil</a></li>
                    <li><a href="">client</a></li>
                    <li><a href="">Produit</a></li>
                    <li><a href="">Commande</a></li>
                </ul>
            </nav>
        </div>
        <main id="content-page">
            <header>
                <div class="content-left">
                    <button id="btnMenu"></button>
                    <h3 id="namePage">Dashboard</h3>
                </div>
                <div class="content-right">
                    <div class="content-notif">
    
                    </div>
                    <div class="content-profil">
                        <div class="content-perso">
                            <div id="photo">
                                <img src="" alt="">
                            </div>
                            <div class="content-nom">
                                <p id="nom">RAkotot</p>
                                <small id="role">Admin</small>
                            </div>
                        </div>
                        <div class="drop">
                            <button id="btnDrop"></button>
                        </div>
                    </div>
                </div>
            </header>
            <section id="content-product">
                <div class="content-head">
                    <h2 id="titres">Product</h2>
                    <button id="btnAdd">Ajouter produit</button>
                </div>
                <div class="content-list">
                    <table>
                        <tr>
                            <th>Nom produit</th>
                            <th>Prix</th>
                            <th>Quantite</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>Akanjo</td>
                            <td>15000</td>
                            <td>250</td>
                            <td class="column-action">
                                <div id="btn-action">
                                    <button class="btn">Supprimer</button>
                                    <button class="btn">Modifier</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Akanjo</td>
                            <td>15000</td>
                            <td>250</td>
                            <td class="column-action">
                                <div id="btn-action">
                                    <button class="btn">Supprimer</button>
                                    <button class="btn">Modifier</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Akanjo</td>
                            <td>15000</td>
                            <td>250</td>
                            <td class="column-action">
                                <div id="btn-action">
                                    <button class="btn delete">Supprimer</button>
                                    <button class="btn edit">Modifier</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </main>
    </main>
</body>
</html>